// Navy Blue skin
$sk-skin-primary-color: #309e9e;
$sk-skin-navbar: #0085b2;
$sk-skin-accent: #6FBAD5;
$sk-skin-flat: #262A33;
// Grey
$sk-skin-grey: #666;
$sk-skin-background: #F6F6F6;
// Gradients
$sk-skin-gradient-start: #222735;
$sk-skin-gradient-end: #63739c;
// Masks
$sk-skin-mask-slight: rgba(14, 15, 32, 0.5);
$sk-skin-mask-light: rgba(14, 15, 32, 0.65);
$sk-skin-mask-strong: rgba(14, 15, 32, 0.8);
// Buttons
$sk-skin-btn-primary: #309e9e;
$sk-skin-btn-secondary: #324f7b;
$sk-skin-btn-default: #293756;
.sk-skin {
    .view {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 30px;
        padding-right: 15px;
        padding-top: 15px;
    }
    .router-view {
        padding-left: 15px;
    }
    .gradient {
        background: $sk-skin-gradient-start;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, $sk-skin-gradient-start 0%, $sk-skin-gradient-end 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, $sk-skin-gradient-start 0%, $sk-skin-gradient-end 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, $sk-skin-gradient-start 0%, $sk-skin-gradient-end 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .primary-color {
        background-color: $sk-skin-primary-color!important;
    }
    .navbar {
        background-color: $sk-skin-navbar;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        .navbar-nav {
            .nav-item {
                .dropdown-menu a {
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: darken( $sk-skin-accent, 5%);
                    }
                }
            }
        }
    }
    .page-footer {
        background-color: $sk-skin-navbar;
    }
    .side-nav {
        background-color: $sk-skin-flat;
        width: 260px;
        letter-spacing: .05rem;
        .brand {
            height: 160px;
            a {
                height: auto;
                padding-left: 0;
            }
            &> div {
                background-color: transparent!important;
            }
        }
        .sn-avatar-wrapper img {
            border: 3px solid darken( $sk-skin-accent, 15%);
        }
        .social a {
            &:hover {
                .fa {
                    color: $sk-skin-accent;
                    @include transition (all 0.3s linear);
                }
            }
        }
        .collapsible > li {
            border-top: 1px solid lighten($sk-skin-flat, 10%);
            text-transform: uppercase;
            color: lighten($sk-skin-flat, 50%);
            white-space: nowrap;
            padding-right: 0;
            padding-left: 0;
            border-radius: 0;
            a {
                margin-bottom: 0;
                margin-top:  0;
                height: 60px;
                font-size: 1rem;
                color: #fff;
                @include transition (all 0.3s linear);
                &:hover {
                    background-color: lighten($sk-skin-flat, 3%);
                }
                &.active {
                    background-color: $sk-skin-navbar;
                    color: $white;
                    border-radius: 0;
                }
                &:before {
                    content: " ";
                    display: inline-block;
                    box-shadow: 0 0 0 1px lighten($sk-skin-flat, 10%);
                    margin: 3px 8px 3px 3px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    position: relative;
                    top: 3px;
                    background-color: $sk-skin-flat;
                }
                &.item-accent {
                    &:before {
                    content: "\f005";
                    font-family: FontAwesome;
                    font-size: 0.8rem;
                    position: relative;
                    top: 1px;
                    margin-right: .7rem;
                    box-shadow: 0 0 0 0;
                    background: none;                     
                    }
                }
            }
            .collapsible-body li {
                a {
                    line-height: 45px;
                    font-size: 0.8rem;
                    height: 45px;
                    &.active {
                        background-color: lighten($sk-skin-flat, 7%);
                    }
                }
            }
            .menu-incomplete:before {
                background-color: $success-color;
            }
            .menu-complete:before {
                background-color: $color-incomplete;
            }
            .collapsible-header {
                height: 60px;
                text-transform: uppercase;
                white-space: nowrap;
                padding: .75rem 1rem;
                &:hover {
                    background-color: lighten($color-sidebar, 3%);
                }
                &.active:hover {
                    background-color: $sk-skin-navbar;
                }
                &.active:before {
                    content: "";
                    box-shadow: 0 0 0 0;
                    background: none;    
                }
            }
            .collapsible-body .menu-subsection-title {
                font-size: 1.2rem;
                font-weight: 600;
                margin-left: 0;
                padding-left: 11px;
                color: $sk-skin-accent;
                &:before {
                    content: "";
                    box-shadow: 0 0 0 0;
                    background: none;
                }
            }
        }
        // Back button on side menu
        .collapsible > li:first-child a[href*="propositions"] {
            background-color: #151515;
                font-size: 0.8rem;
                padding-left: 1.8rem;
                &:before {
                    font-family: FontAwesome;
                    font-size: 2.5rem;
                    line-height: 2.3rem;
                    position: relative;
                    top: 8px;
                    margin-right: 0.8rem;
                    content: "\f104";
                    background-color: #151515;
                    box-shadow: 0 0 0 1px #151515;
                }
        }
        .fa {
            color: #fff;
        }
        .sidenav-bg {
            &:after,
            &.mask-strong:after
            {
                background: $sk-skin-mask-strong;
            }
            &.mask-light:after {
                background: $sk-skin-mask-light;
            }
            &.mask-slight:after {
                background: $sk-skin-mask-slight;
            }
        }
    }
    .btn {
        font-family: $font-family-sans-serif;
        cursor: pointer;
        margin: 2px;
    }
    .btn-addon {
        flex-grow: 3;
        border-radius: 6px;
        top: 5px;
        position: relative;
        box-shadow: none;
    }
    .btn-primary {
        background: $sk-skin-btn-primary;
        &:hover,
        &:focus {
            background-color: lighten( $sk-skin-btn-primary, 5%)!important;
        }
        &.active {
            background-color: darken( $sk-skin-btn-primary, 20%)!important;
        }
    }
    .btn-secondary {
        background: $sk-skin-btn-secondary;
        &:hover,
        &:focus {
            background-color: lighten( $sk-skin-btn-secondary, 5%)!important;
        }
        &.active {
            background-color: darken( $sk-skin-btn-secondary, 20%)!important;
        }
    }
    .btn-default,
    .card .btn-action {
        background: $sk-skin-btn-default;
        &:hover,
        &:focus {
            background-color: lighten( $sk-skin-btn-default, 5%)!important;
        }
        &.active {
            background-color: darken( $sk-skin-btn-default, 20%)!important;
        }
    }
    // Custom inputs
    input,
    input[type=value],
    input::placeholder {
        font-size: 1rem;
        font-family: $font-family-base;
    }
    input[type=value],
    input::placeholder {
        color: #ccc;
    }
    input[type="email"],
    input[type="search"],
    input[type="number"],
    textarea.md-textarea,
    input[type="text"],
    input[type="password"],
    input[type="time-input"] {
        background-color: $white;
        border-radius: .4rem;
        border: 1px solid lighten($color-sidebar, 70%);
        text-indent: 1rem;
    }
    input[type="email"]:focus:not([readonly]),
    input[type="search"]:focus:not([readonly]),
    textarea.md-textarea:focus:not([readonly]),
    input[type="text"]:focus:not([readonly]),
    input[type="number"]:focus:not([readonly]),
    input[type="password"]:focus:not([readonly]),
    textarea.md-textarea:focus:not([readonly]) {
        border: 1px solid $sk-skin-accent;
        box-shadow: none;
        &+label {
            color: $sk-skin-accent;
        }
    }
    input[type="time-input"] {
        padding-bottom: 0.4rem;
        padding-top: 0.3rem;
        font-size: 2.1em;
        font-weight: 300;
        line-height: 1rem;
    }
    input.select-dropdown {
        margin-top: .2rem;
        color: lighten($body-color, 40%);
        margin-bottom: 30px;
        height: 3.2rem;
    }
    input.select-dropdown:disabled,
    input[type="text"]:disabled {
        background-color: $color-mainpanel;
        border-bottom: 1px solid lighten($color-sidebar, 70%);    
    }
    .input-group-addon {
        font-weight: 300;
        font-size: 1.4rem;
        background-color: transparent;
        border: none;
    }
    span.caret {
        color: initial;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 10px;
        z-index: 1;
    }
    span.caret.disabled {
        display: none;
    }
    .dropdown-content {
        margin-top: .2rem;
        border-radius: .5rem;
    }
    .multiple-select-dropdown {
        padding-bottom: .7rem;
        .search-wrap {
            width: 100%;
            padding: 1rem 1rem;
        }
        li [type="checkbox"] + label {
            height: 15px;
            left: 10px;
            margin-right: .2rem;
        }
    }
    .select-wrapper + label {
        text-indent: .1rem;
        text-transform: uppercase;
        color: #757575;
        top: -1.2rem;
    }

    input[type=checkbox]:checked {
        &+label {
            &:before {
                border-right: 2px solid $sk-skin-accent;
                border-bottom: 2px solid $sk-skin-accent;
            }
        }
    }
    input[type=text]:disabled {
        border-bottom: 1px solid lighten($color-sidebar, 70%);
    }
    input[type=checkbox].filled-in:checked {
        &+label {
            &:before {
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
            }
            &:after {
                background-color: $sk-skin-accent;
                border-color: $sk-skin-accent;
            }
        }
    }
    .md-form {
        &.input-group {
            padding-left: 0;
        }
        .prefix {
            &.active {
                color: $sk-skin-accent;
            }
        }
        .mdb-autocomplete-wrap {
            top: 60px;
            border-radius: 4px; 
            color: #6FBAD5;
                li {
                    font-size: 1.2rem;
            }
        }
    }
    input[type="radio"]:checked + label:after {
        border: 2px solid $sk-skin-accent;
        background-color: $sk-skin-accent;
    }
    .search-big {
        width: 50%;
        margin: 0 auto;

        input::placeholder {
            font-size: 2rem;
            font-family: $font-family-base;
        }

        .form-control {
            height: 3rem;
            border-radius: 3rem;
            font-size: 1.8rem;
            font-weight: 300;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
        }
    }
    /* Select colors */
    .dropdown-content {
        li:not(.disabled) {
            span {
                color: $sk-skin-accent;
            }
        }
    }
    .top-nav-collapse {
        background-color: $sk-skin-navbar;
    }
    .carousel-multi-item {
        .controls-top > a,
        .carousel-indicators li,
        .carousel-indicators li.active {
            background-color: $sk-skin-accent;
        }
    }
    // Tags, form-header, card-header
    .form-header,
    .card-header {
        background-color: lighten( $sk-skin-accent, 2%);
    }
    .spinner-primary-color,
    .spinner-primary-color-only {
        border-color: $sk-skin-primary-color;
    }
    .pagination-primary-color {
        .page-item.active .page-link,
        .page-item.active .page-link:focus,
        .page-item.active .page-link:hover {
            color: #fff;
            background-color: $sk-skin-primary-color;
            border-color: $sk-skin-primary-color;
        }
        .page-link {
            color: $sk-skin-primary-color;
        }
    }
    /* Tabs */
    .tabs-wrapper {
        margin-top: -15px;
    }
    
    /* Modal */
    .modal {
        .modal-content {
            background-color: $sk-skin-background;
            border: none;
            .modal-header {
                background-color: $sk-skin-background;
                .fa {
                    color: $color-body_text;
                }
                .close {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    font-size: 3rem;
                    background-color: $sk-skin-flat;
                    padding: 5px 15px 5px 15px;
                    color: $sk-skin-background;
                    text-shadow: none;
                }
            }
        }
        .modal-header {
            border-bottom: 0;
            i {
                color: lighten($color-body_text, 25%);
                margin-right: 0.7rem;
            }
        }
        .modal-body {
            .close {
                position: static;
            }
            .page-name-xl {
                font-size: 1.7rem;
                text-align: left;
            }
        }
        &#upload-modal {
            input[type="text"] {
                background-color: transparent;
                border: none;
                border-bottom: none;
                text-transform: uppercase;
                font-size: .85rem;
                margin-top: 14px;
            }
            .progress {
                background-color: $sk-skin-background;
                height: 2px
            }
            .file-icon {
                font-size: 0.85rem;
                text-transform: uppercase;    
                &:before {
                    font-size: 2rem;
                }
            }
            .file-box-sty {
                 font-size: 0.75rem;   
            }
        }
        .dragdrop {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 6%;
            background-color: transparentize($sk-skin-flat, .07);
            .dragdrop-area {
                padding: 10%;
                height: 100%;
                width: 100%;
                color: $white;
                border: 4px dashed $white;
                border-radius: 20px;
            }
            .dragdrop-content {
                font-size: 1.6rem;
                &:before {
                    font-family: FontAwesome;
                    content: "\f0c5";
                    font-size: 6rem;
                    font-weight: 300;
                    text-align: center;
                    display: block;
                    color: $white;
                    line-height: 110px;
                }
            }
        }
        .tab-full {
            flex: 1 0 30%;
        }
    }
    /* Activity stream */
    .activity {
        margin-top: .2rem;
        display: flex; 
        width: 100%;
        height: 110px;
        background-color: #fff;
        padding: .6rem;
        .activitiy-user {
            font-weight: 300;
            line-height: 1.9rem;
            letter-spacing: -0.02rem;
            span {
                font-weight: 600;
                letter-spacing: -0.05rem;
                a {
                    font-weight: 600;
                    color: $sk-skin-accent;
                }
            }
        }
        h5 {
            font-size: .75rem;
            font-weight: 400;
            margin-bottom: .3rem;
        }
        .activity-time {
            text-transform: uppercase;
            font-size: .75rem;
            color: lighten($color-body_text, 35%);
            &:before {
                font-family: FontAwesome;
                content: "\f017";
                font-size: 1.2rem;
                margin-right: .5rem;
                vertical-align: middle;
            }
        }
    }
    .activity-day {
        letter-spacing: -.08rem;
    }
    @media only screen and (max-width : 768px) {
        .activity {
            height: 100%;
            position: relative;
            .activity-label {
                order: 2;
                position: absolute;
                top: 1rem;
                left: 0;
            }
        }
    }
    /* Dropdown */
    .dropdown-custom-login {
        box-shadow: none;
        background-color: transparent;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: none;
    }
    .dropdown-box {
        background-color: $white;
        height: 100%;
        border-bottom-left-radius: 1rem;
        border-left: 1px solid lighten($color-sidebar, 70%);
        border-bottom: 1px solid lighten($color-sidebar, 70%);
    }
    .dropdown-arrow {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
    }
    /* Activity stream dropdown */
    .activity-box {
        @extend .dropdown-box;
        min-width: 350px;
        position: relative;
        left: 143px;
        .tasktype-1 {
            border-radius: 0.1rem;
            padding: 0px 5px;
        }
        .activity-item {
            border-top: 1px dashed lighten($sk-skin-accent, 20%);
            padding: .2rem .8rem;
            &:first-child {
                border-top: none;
                &:hover {
                    &:before {
                        border-color: transparent transparent lighten($color-sidebar, 79%) transparent;
                    }
                }
                &:before {
                    @extend .dropdown-arrow;
                    top: -12px;
                    left: 160px;
                }
            }
            &:hover {
                background-color: lighten($color-sidebar, 79%);
                cursor: pointer;
                &:last-child {
                    border-bottom-left-radius: 1rem;
                }
            }
        }
        h4 {
            font-size: .85rem;
            font-weight: 400;
            margin-bottom: 0.30rem;
            margin-top: 0.05rem;
            a {
                font-weight: 600;
                color: $sk-skin-accent;
                padding-left: 0;
            } 
        }
        h5 {
            font-size: .65rem;
        }
        .activity-time {
            color: lighten($color-sidebar, 55%);
            display: inline-block;
            font-size: .65rem;
            text-transform: uppercase;
            vertical-align: text-bottom;
            &:before {
                font-family: FontAwesome;
                content: "\f017";
                font-size: .8rem;
                margin-right: .3rem;
                margin-left: .3rem;
                vertical-align: middle;
            }
        }
    }
    /* User login dropdown */
    .double-nav .dropdown .dropdown-menu .user-box {
        @extend .dropdown-box;
        min-width: 220px;
        position: relative;
        a {
            font-size: .85rem;
            color: $sk-skin-grey !important;
            padding: 1rem;
            display: block;
            position: static;
            font-weight: 400;
            border-top: 1px dashed lighten($sk-skin-accent, 20%);
            &:first-child {
                border-top: none;
                &:hover {
                    &:before {
                        border-color: transparent transparent lighten($color-sidebar, 79%) transparent;
                    }
                }
                &:before {
                    @extend .dropdown-arrow;
                    top: -12px;
                    left: 130px;
                }
            }
            &:hover {
                background-color: lighten($color-sidebar, 79%);
                cursor: pointer;
                &:last-child {
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
    
    /* Date Picker */
    .picker__box {
        border: none;
        .picker__header {
            .picker__date-display {
                background-color: $color-nav-sub;
                .picker__weekday-display {
                    background-color: $color-nav;
                }
            }
            .picker__select--year,
            .picker__select--month {
                border: 1px solid lighten($color-sidebar, 70%);
                font-family: $font-family-base;
                background-color: $white;
                border-radius: .4rem;
                color: $color-body_text;
                text-indent: .35rem;
            }
            .picker__nav--prev {
                &:hover {
                    cursor: pointer;
                    color: $white;
                    background: $color-table-th;
                }
                &:before {
                    border-right: 0.75em solid $white;
                }
            }
            .picker__nav--next {
                &:hover {
                    cursor: pointer;
                    color: $white;
                    background: $color-table-th;
                }
                &:before {
                    border-right: 0;
                    border-left: 0.75em solid $white;
                }
            }
        }
        .picker__table {
            .picker__day--selected,
            .picker__day--selected:hover,
            .picker--focused .picker__day--selected {
                background-color: $color-nav;
            }
        }
        .picker__footer {
            text-align: right;
            padding: 8px 8px;
            .picker__button--today,
            .picker__button--clear,
            .picker__button--close {
                font-family: $font-family-base;
                font-weight: 600;
                letter-spacing: .1rem;
                background-color: $color-nav;
                border-radius: .4rem;
                color: $white;
                padding: 0.8rem 0 0.7rem 0;
                &:before {
                    display: none;
                }
                &:hover {
                    background-color: $color-table-th;
                    color: $color-nav;
                }
            }
            .picker__button--close {
                background-color: $color-cancel;
            }
        }
    }
}












