//////////Main layout
.wrapper {
    padding: 0;
    height: 1000px;
    max-width: 100%;
    display: flex;
}


//h1::selection,
//h2::selection,
//h3::selection,
//h4::selection,
//h5::selection,
//h6::selection,
//p::selection,
//span::selection,
//label {
//    background-color: aquamarine;
//}

//////////Misc

//TODO: move to profile section
.showdata-box .no-border,
.no-border {
    border: none;
}

.border-white {
    border-color: $white;
}

.showdata-box .page-name-l {
    margin-bottom: .7rem;
}

.notification-bar {
    padding: 1.7rem;
    white-space: nowrap;
}

.notification-bar div {
    padding: 0 2rem;
    border-left: 1px solid transparentize($white, .5);
    line-height: 2.2rem;

    &:first-child {
        border-left: none;
    }
}

@media only screen and (max-width : 768px) {
    .notification-bar div {
        border-left: none;
    }

    .btn-clock-icon:before {
        color: $white;
        font-family: FontAwesome;
        content: "\f017";
        font-size: 3.6rem;
        margin-right: 1.1rem;
        line-height: 0;
        margin-bottom: 2rem;
        margin-top: 1rem;
        display: block;
        vertical-align: middle;
    }

}

//////////Sidebar styles

////////// Typography

.login h2 {
    text-transform: uppercase;
    font-weight: 300;
}

h1.display-2 {
    letter-spacing: -.25rem;
}

h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 3px;
    color: $color-nav-sub2;
    border-top: 1px solid darken($color-mainpanel, 10%);
    padding-top: 9px;
}



.showdata-box h4 {
    line-height: 2rem;
}


////// Text size
.display {
    &-a {font-size: .75rem;}
    &-b {font-size: .85rem;}
    &-c {font-size: 1rem;}
    &-d {font-size: 1.15rem;}
    &-e {font-size: 1.3rem;}
    &-f {font-size: 1.5rem;}
    &-g {font-size: 1.75rem;}
    &-h {font-size: 2rem;}
}

.weight {
    &-300 {font-weight: 300}
    &-400 {font-weight: 400}
    &-600 {font-weight: 600}
    &-700 {font-weight: 700}
}

///Labels
.white-label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 3px;
    color: $white;
    border-top: 1px solid $white;
    padding-top: 9px;
}

.switch-label {
    text-transform: uppercase;
    font-size: 1rem;
}

.switch-sty {
    border-bottom: 1px solid darken($color-mainpanel, 15%);
    padding: 1.5rem 0;

    &:last-child {
        border-bottom: none;
    }
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: $color-table-th;

    &:after {
    background-color: $color-nav;
    }
}

///Task

.tasktype {
    font-size: .65rem;
    padding: 5px 9px;
    vertical-align: middle;
    white-space: nowrap;
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: .25rem;
}

.tasktype-1 {
    @extend .tasktype;
    background-color: $color-incomplete;
}

.tasktype-2 {
    @extend .tasktype;
    background-color: $color-nav-sub;
}

///Login

.login {
    background-image: url(../images/login_bckg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

    .card {
        top: 20vh;
        width: 500px;
        border-radius: 2.5rem;
        background-color: $color-mainpanel;
        padding: 1.5rem;

        .form-header {
            margin-top: 0;
            border-radius: 1.5rem;
            box-shadow: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: #D90000;
        }
    }

    .options {
        text-transform: uppercase;
        font-size: .8rem;
    }
}

@media only screen and (max-width : 768px) {
    .login .card {
        top: 5vh;
        background-position-x: left;
    }
}

///Search input

.md-form.input-group.search-big {
    margin-bottom: 1.5rem;
}

.search-big {
    width: 50%;
    margin: 0 auto;

    input::placeholder {
        font-size: 2rem;
        font-family: $font-family-base;
    }

    .form-control {
        height: 3rem;
        border-radius: 3rem;
        font-size: 1.8rem;
        font-weight: 300;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
    }

    span {
        z-index: 0;
    }
}

.input-group .form-control:not(:last-child) {
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    text-indent: 0;
}

@media only screen and (max-width : 768px) {
    .search-big {
        width: 100%;
    }
}

.search-big .search-big-button {
    top: 4px;
    box-shadow: none;
    position: absolute;
    right: -42px;
    z-index: 2;

    i {
        top: -3px;
        font-size: 2.3rem;
        right: 16px;
        color: $color-table-th;
    }
}

//////////Main-nav styles

.navbar {
    box-shadow: none; //TODO: consider removing from z-depth-1
}

header .fa {
    color: $white;
    align-self: center;
    font-size: 1.3rem;

    .fa-bars {
        font-size: 2rem;
    }
}

header .tag {
    display: inline-block;
    position: absolute;
    margin-left: .5rem;
    margin-top: 13px;
    padding: .15rem .25rem;
    line-height: .7rem;
    border-radius: 20%;
    font-size: .6rem;
    text-align: center;
}

//TODO: use badge instead of tag
.page-name-xl .tag {
    display: inline-block;
    position: relative;
    top: -16px;
    margin-left: .25rem;
    margin-top: 13px;
    padding: .15rem .25rem;
    line-height: .7rem;
    border-radius: 20%;
    font-size: .6rem;
    text-align: center;
}

.tag-danger {
    background-color: #D90000;
}

.tag-neutral {
    background-color: $color-nav-sub;
}

.menu-subsection {
    border-bottom: 1px dotted lighten($color-sidebar, 15%);
    border-top: 1px dotted lighten($color-sidebar, 15%);
    background-color: lighten($color-sidebar, 5%);
}

.nav-link-icon {
    width: 70px;
    height: 70px;
    text-align: center;

    &:hover {
        text-decoration: none;
        background-color: $color-nav-sub;
    }
}

@media only screen and (max-width : 1440px) {
    .navbar .button-collapse {
        display: block;
        position: relative;
        font-size: 2rem;
        margin-top: -5px;
        margin-right: 0;
        margin-left: 20px;
    }
}

@media only screen and (max-width : 992px) {
    .navbar .button-collapse {
        margin-top: -12px;
        font-size: 2rem;
    }
}

@media only screen and (max-width : 768px) {
    .hamburger-icon {
        margin-right: auto;
    }
}

header .user-nav {
    height: 70px;
}

header .navbar {
    padding: 0;
    border-radius: 0;
}

header .navbar > a {
    justify-content: center;
    color: $white;
}

header .dropdown-toggle {
    padding: 0 auto;
    font-size: .8rem;
    text-transform: uppercase;
    justify-content: center;

    &:hover {
        background-color: $color-nav-sub;
    }

    .header-profile {
        margin: 0 .3rem;
        border-radius: 50%;
        border: 3px solid $white;
    }
    &:after {
        content: none;
    }
}

.double-nav .dropdown .dropdown-menu a {
    color: $sk-skin-accent;
    padding: 0;
}

////// Breadcrumb

header .navbar .breadcrumb {
    margin-right: auto;
    text-transform: uppercase;
    font-size: .9rem;
    padding-left: 2rem;

    &:before {
        color: aqua; //TODO: move to scss var
    }

    a {
        color: $rgba-white-light;
        font-size: .9rem;
    }

    .active {
        color: $white;
    }
}

@media only screen and (max-width : 1992px) {
    header .navbar .breadcrumb,
    header .navbar .breadcrumb a {
        font-size: .9rem;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: $white;
}

@media only screen and (max-width : 768px) {
    header .navbar .breadcrumb {
        display: none !important;
    }
}


//////////Tabs-wrapper

.classic-tabs.tabs-cyan {
    background-color: $color-nav-sub;
    padding-right: 0px;
}

.classic-tabs.tabs-cyan li a.active {
    border-color: $color-mainpanel;
}

.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: .95rem;
    text-transform: uppercase;
    color: $rgba-white-light;
    text-align: center;
    border-radius: 0;

    &.active {
        border-bottom: 5px solid $color-mainpanel;
        color: $white;
        border-radius: 0;
    }
}

@media only screen and (min-width: 62em) {
    .classic-tabs li:first-child {
        margin-left: 0;}
}


////////// Separators

.page-name {
    border-bottom: 1px dashed darken($color-mainpanel, 15%);
    text-transform: uppercase;
}

.page-name-xl {
    @extend .page-name;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: 2.4rem;
}

.page-name-l {
    @extend .page-name;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 600;
    padding-bottom: .35rem;
}

.page-name-m {
    @extend .page-name;
    font-size: .8rem;
    text-align: left;
    font-weight: 400;
    padding-bottom: .25rem;
    margin-bottom: .6rem;
    margin-top: 0;
}

.page-name-l-white {
    text-transform: uppercase;
    border-bottom: 1px solid $white;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 600;
    padding-bottom: .35rem;
}

////// Sections

.data-section-l h3:last-child {
    padding-bottom: 1.5rem;
}

.data-section-l h6:first-child {
    border: none;
}


////////// Tables

.table {
    font-size: .9rem;
}

.table-title {
    font-weight: 400;
    font-size: 1.2rem;
}


.table tbody {
    background-color: #fff;   
}

.table thead th {
    background-color: $color-table-th;
    color: $color-sidebar;
    font-size: .85rem;
    text-transform: uppercase;
    border-bottom: none;
    vertical-align: middle;
    height: 60px;
    font-weight: 600;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: .9rem;
    }

    &:last-child {
        border-top-right-radius: .9rem;
    }

    &:after {
        font-family: FontAwesome;
        content: "\f0dc";
        font-size: .6rem;
        line-height: 0;
        margin-left: 0.5rem;
        vertical-align: middle;

    }
}

.table-display-1 {
    background-color: darken($white, 5%);
}

.table-display-2 {
    background-color: $color-table-th;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.table-display-3 {
    background-color: $color-nav;
    color: $white;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.table-editable {
    border-bottom: dashed 1px $color-nav-sub2;
}

.table-editable:after {
    content: " ";
    border-bottom: dashed 1px $color-nav-sub2;
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: 0px;
}

///Action Icons

td .fa {
    font-size: 1.2rem;
}

td .color-grey .fa-times:hover {
    color: $color-cancel;
}

td .color-grey .fa-pencil:hover {
    color: $color-select;
}

table td .color-grey {
    margin-left: .8rem;
        &:first-child {
        margin-left: 0;
    }
}

.table td,
.table th  {
    vertical-align: middle;
    border-bottom: 1px solid #eceeef;
    font-weight: normal;
}








.file-icon {
    white-space: nowrap;
    overflow: hidden;
}

.file-icon:before {
    color: lighten($color-body_text, 25%);
    font-family: FontAwesome;
    content: "\f016";
    font-size: 3.6rem;
    margin-right: 1.1rem;
    margin-left: 0.5rem;
    vertical-align: middle;

}

.file-icon:hover::before {
    color: $info-color;
}

.file-icon[href$=".jpg"]:before {
    content: "\f1c5";
}

.file-icon[href$=".pdf"]:before {
    content: "\f1c1";
}

.file-icon[href*=".xls"]:before {
    content: "\f1c3";
}

.file-icon[href*=".doc"]:before {
    font-family: FontAwesome;
    content: "\f1c2";
}

.icon {
    color: $color-body_text;
    cursor: pointer;

    &:before {
        color: lighten($color-body_text, 25%);
        font-family: FontAwesome;
        font-size: 1.7rem;
        margin-right: .7rem;
        vertical-align: middle;
    }
}

.icon-cancel {
    &:hover {color: $color-cancel;}
    &:hover::before {color: $color-cancel;}
    &:before {content: "\f2d3";}
}

.icon-download {
    &:hover {color: $color-select;}
    &:hover::before {color: $color-select;}
    &:before {content: "\f0ed";}
}

.icon-edit {
    &:hover {color: $color-select;}
    &:hover::before {color: $color-select;}
    &:before {content: "\f14b";}
}

.icon-cost-approval {
    &:hover {color: $color-select;}
    &:hover::before {color: $color-select;}
    &:before {content: "\f08b";}
}

.icon-cost-approved {
    &:hover {color: $success-color;}
    &:hover::before {color: $success-color;}
    &:before {content: "\f00c";}
    color: $success-color;
    font-weight: 800;
}

.icon-cost-rejected {
    &:hover {color: $color-cancel;}
    &:hover::before {color: $color-cancel;}
    &:before {content: "\f00d";}
    color: $color-cancel;
    font-weight: 800;
}

.icon-assign {
    &:hover {color: $color-incomplete;}
    &:hover::before {color: $color-incomplete;}
    &:before {
        content: "\f055";
        font-size: 3.4rem;
        margin-top: -12px;
        margin-bottom: -12px;
        display: inline-block;
    }
}

.icon-approval-pending {
    color: $color-incomplete;

    &:hover {color: $color-incomplete;}
    &:hover::before {color: $color-incomplete;}
    &:before {
        color: $color-incomplete;
        content: "\f252";
        font-size: 2.5rem;
        margin-top: -12px;
        margin-bottom: -12px;
        display: inline-block;
    }
}

.icon-approval-no {
    color: $color-cancel;

    &:hover {color: $color-cancel;}
    &:hover::before {color: $color-cancel;}
    &:before {
        color: $color-cancel;
        content: "\f00d";
        font-size: 2.7rem;
        margin-top: -12px;
        margin-bottom: -12px;
        display: inline-block;
    }
}

.icon-approval-yes {
    color: $color-complete;

    &:hover {color: $color-complete;}
    &:hover::before {color: $color-complete;}
    &:before {
        color: $color-complete;
        content: "\f00c";
        font-size: 2.7rem;
        margin-top: -12px;
        margin-bottom: -12px;
        display: inline-block;
    }
}

.icon-approval-comments {
    &:hover {color: $color-select;}
    &:hover::before {color: $color-select;}
    &:before {content: "\f075";}
}


.icon-handler {
    background-image: url(../images/dragdrop.svg);
    width: 40px;
    height: 16px;
    cursor: move;

    &:hover {color: $color-select;}
    &:hover::before {color: $color-select;}
}



.icon-neutral:hover {
    color: $color-nav;
}

.w-30 { //TODO: really?
    width: 30px;
}


///////// Inputs




label {
    text-transform: uppercase;
    margin-bottom: 0;
}

form .form-group {
    label {
        font-size: .8rem;
    }
}

.form-control:focus {
    border-color: $color-table-th;
}

.md-form.addon {
    margin-bottom: 15px;
}

.md-form {
    margin-bottom: 2.2rem;
}

.md-form label {
    text-indent: .1rem;
    text-transform: uppercase;
    transform: translateY(-175%);
    font-size: .8rem;
}

.md-form label.active {
    text-indent: .1rem;
    text-transform: uppercase;
    transform: translateY(-175%);
}

.md-form .prefix.active {
    color: $color-nav;
}

textarea.md-textarea {
    font-family: $font-family-base;
    color: $color-body_text;
    padding: 0.9rem 0 3rem 0;
    margin-bottom: 0;
}

 .md-textarea ~ .md-form {
    margin-bottom: 0;
}

input.md-form.addon {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}




.profile-xl {
    border-radius: 50%;
    border: 5px solid $white;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-l {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-m {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 2px solid $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-m-1 {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 2px solid $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-m-2 {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 2px solid $white;
    margin-top: .5rem;
}

.profile-s {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.pos-rel {
    position: relative;

    label {
        margin-top: -.2rem;
    }
}






.form-control[readonly] {
    background-color: aqua;
}



/// Chip

.chip {
    position: relative;
}

////////// Buttons

.btn {
    letter-spacing: .1rem;
}

.md-form .btn {
    margin-bottom: 1.5rem;
    width: 30%;
}


.btn.btn-lg, .btn-group-lg > .btn {
    padding: 1.5rem 3.9rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.btn-footer {
    justify-content: center;
    border-top: 1px solid darken($color-mainpanel, 10%);
}

.btn-header {
    justify-content: center;
    margin-bottom: 30px;
}

.btn .fa.left {
    margin-right: 10px;
    margin-top: 0;
}


///Btn colors

.btn-save {
    background-color: $color-complete;

    &:hover, &:active, &:focus {
        background-color: $color-complete;
    }
}

.btn-neutral {
    background-color: $info-color;
}

.btn-attention {
    background-color: $color-incomplete;
}

.btn-blank {
    background-color: $color-sidebar;
}

.btn-cancel {
    background-color: $color-cancel;
}

.btn-assign {
    background-color: $color-incomplete;
}

.btn-sub2 {
    background-color: $color-nav-sub2;
}

.btn-white {
    background-color: $white;
}

.btn-icons {
    color: $white;
    font-family: FontAwesome;
    margin-right: 1.1rem;
    line-height: 0;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.btn-assign-icon:before {
    @extend .btn-icons;
    content: "\f2bd";
    font-size: 2.4rem;
}

.btn-start-icon:before {
    @extend .btn-icons;
    content: "\f144";
    font-size: 2.4rem;
}

.btn-stop-icon:before {
    @extend .btn-icons;
    content: "\f28d";
    font-size: 2.4rem;
}

.btn-plus-icon:before {
    @extend .btn-icons;
    content: "\f067";
    font-size: 1.4rem;
}

.btn-clock-icon:before {
    @extend .btn-icons;
    content: "\f017";
    font-size: 3.6rem;
}



////////// Colors

.color-grey i {
    color: lighten($color-body_text, 25%);
}

.color-sidebar {
    color: $color-sidebar;
}

.color-body-text {
    color: $color-sidebar;
}

.color-nav {
    color: $color-nav;
}

.color-nav-sub {
    color: $color-nav-sub;
}

.color-nav-sub2 {
    color: $color-nav-sub2;
}

.color-incomplete {
    color: $color-incomplete;
}

.color-complete {
    color: $color-complete;
}

.color-cancel {
    color: $color-cancel;
}

.color-table-th {
    color: $color-table-th;
}



////////// Proposition

.grey-box {
    height: auto;
    background-color: darken($color-mainpanel, 5%);

}

.print-offer-box {
    height: 150px;
    background-color: darken($color-mainpanel, 5%);
    padding: 3rem 2rem;
}

